* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

/* .navbar {
  

  
  
} */

/* for Mobile devices  */
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: white;
}

.main-nav li {
  text-align: center;
  margin: 20px auto;
  margin-top: 20px;
}

h1 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

/* this is my side menu toggle for mobile users  */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
}

/* this is where the menu items are */
/* this hides menu items */
.main-nav {
  display: none;
  padding: 140px;
}

.active {
  display: block;
}

/*  */
.centered-img-text {
  line-height: 2;
  text-align: center;
  width: 100%;
  padding-top: 140px;
}

.centered-img-text h2 {
  color: white;
}
.header-h1 {
  padding-left: 80px;
  color: white;
  visibility: visible;
}

.centered-img-text button {
  font-size: 12px;
  margin-top: 20px;
  padding: 11px 28px;
  background-color: #e83e8c;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  color: #ffffff;
}

.centered-img-text button:hover {
  background-color: #c53779;
}

.centered-img-text h3 {
  color: rgba(255, 255, 255, 0.5);
}

.centered-img-text p {
  color: rgba(255, 255, 255, 0.5);
}

/* this is the top header home image */
.bg-img {
  /* The image used */
  background-image: url("../img/business-3.png");

  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.bg-img2 {
  background-image: url("../img/business-3.png");

  min-height: 100px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* horizomtal line on contact page */
.belowline {
  width: 52%;
}
.current {
  margin-left: 40px;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.main-nav a.current {
  border-color: #c53779;
}
.welcome-stage {
  padding-top: 40px;
  line-height: 2;
}
.welcome-stage h2 {
  text-align: center;
}

.welcome-stage p {
  text-align: center;
  color: #6c757d;
}

.grid {
  padding-top: 40px;
  margin: 0px;
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(3, 0.2fr);
  justify-content: center;
}

.grid h2 {
  color: #212420;
}

.item h2 {
  color: #262626;
}
.item {
  margin-top: 10px;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

.item img {
  width: 20%;
  height: 20%;
}

.parallax {
  /* The image used */
  background-image: url("../img/parallax-img.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-2 {
  display: grid;

  grid-template-columns: repeat(2, 0.6fr);
  margin-top: 40px;
  margin-left: 45px;
  margin-right: 20px;
  justify-content: center;
}

.items {
  margin-top: 10px;
  padding: 0;
  line-height: 2;
}

.items h3 {
  font-size: 26px;
}

.items img {
  width: 90%;
  height: 10%;
}

#items1 img:hover {
  opacity: 1;
}

.recent-work-div {
  margin-top: 10px;
  line-height: 2;
}

.grid-2 img:hover {
  opacity: 0.5;
}
.recent-work {
  padding: 35px 40px;
}

.recent-work-p {
  padding-left: 50px;
  line-height: 1.8;
}

.container {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  padding-bottom: 50px;
  line-height: 2;
  padding-top: 50px;
}

.header-lower-bottom {
  padding-left: 50px;
}

.header-p button {
  margin-top: 30px;
  padding: 30px;
  font-size: 18px;
}
.contact-us {
  border: none;

  border-radius: 5px;
}

.header-p p {
  padding-top: 30px;
}

.header-lower-bottom {
  padding-right: 10px;
}

.header-p {
  padding-left: 50px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(2, 0.6fr);
  margin-top: 60px;
  margin-left: 45px;
  margin-right: 20px;
  justify-content: center;
  margin-bottom: 80px;
}

.lower-bottom-style {
  color: #6c757d;
}

.item-3 {
  margin-top: 10px;
  padding: 0;
  line-height: 2;
}

.left-flex p {
  padding-top: 40px;
  line-height: 1.7;
}

.left-flex h1 {
  font-size: 50px;
  padding-top: 10px;
  margin: 0px;
}

.belowline {
  margin-top: 40px;
}
.left-container {
  display: grid;
  padding-left: 60px;
  grid-template-columns: repeat(2, 0.6fr);
  margin-top: 90px;
  margin-left: 45px;
  margin-right: 20px;
  justify-content: center;
}

.text-input-name-input {
  width: 55%;
  padding: 15px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 6px;
  margin-bottom: 22px;
  outline: none;
}

.text-input-name-input-2 {
  width: 55%;
  padding: 15px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 6px;
  margin-bottom: 22px;
  outline: none;
}

.text-input-name-input4 {
  width: 28%;
  padding: 15px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 6px;

  outline: none;
}

.change-opacity-2 {
  opacity: 0.6;
}
.text-input-name-input4:focus {
  width: 80%;
}
/* input[type="text"],
textarea {
  background-color: #d1d1d1;
} */

/* input[type="text"] {
  width: 200px;
  box-sizing: border-box;

  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} */

input[type="message"] {
  width: 200px;
  box-sizing: border-box;

  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* input[type="email"] {
  width: 200px;
  box-sizing: border-box;

  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} */

input[type="text"]:focus {
  width: 80%;
}

input[type="email"]:focus {
  width: 80%;
}

/* input[type="text"]:focus {
  background-color: white; /* oranges! yey */
/* } */

.nav-links {
  outline: none;
}
.belowline-2 {
  visibility: hidden;
}
.belowline-3 {
  visibility: hidden;
}
@media (max-width: 768px) {
  .left-container {
    padding-left: 60px;
    grid-template-columns: repeat(1, 0.6fr);
    margin-top: 90px;
    margin-left: 45px;
    margin-right: 20px;
    justify-content: center;
  }
}

/* for mobile devies  */
@media (max-width: 500px) {
  .left-container {
    padding-left: 0px;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    justify-content: center;
  }

  .item-3 h1 {
    padding-left: 0px;
  }

  .left-flex h1 {
    font-size: 30px;
  }

  .belowline {
    width: 92%;
    margin-bottom: 62px;
  }

  .left-flex p {
    padding-top: 35px;
    line-height: 1.7;
  }
  .text-input-name-input {
    width: 92%;
  }
  .submit-bt {
    padding-bottom: 20px;
  }
  .header-h1 {
    color: white;
    visibility: hidden;
  }
  .bg-img {
    min-height: 10px;
    max-height: 100px;
  }

  .centered-img-text {
    padding-top: 95px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
  }
  .centered-img-text h3 {
    display: none;
  }
  .centered-img-text p {
    display: none;
  }
  #demo {
    display: none;
  }
  #remove-of-mobile {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .item {
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    padding: 6.5px;
  }
  /* this is for(the div that contains the images) project images on home page */
  .grid-2 {
    margin-left: 10px;
  }
  .mobile-block {
    display: none;
  }
  .welcome-stage p {
    margin: 10px;
    padding-bottom: 10px;
  }
  .belowline-2 {
    visibility: visible;
    width: 82%;

    margin-left: 30px;
  }

  .belowline-3 {
    visibility: visible;
    width: 52%;

    margin-left: 80px;
    margin-top: 15px;
  }
  .recent-work-p {
    padding-left: 30px;
    line-height: 1.8;
    padding-right: 10px;
  }

  .recent-work {
    padding-left: 20px;
  }
  .items img {
    width: 100%;
    height: 10%;
  }

  .header-lower-bottom:before {
    padding-left: 10px;
    text-indent: 0;
    content: "Let's Work Together";
  }

  .mobile-change-header {
    display: none;
  }
  .container {
    padding-left: 0px;

    line-height: 2;
    padding-top: 10px;
  }
  .header-p {
    padding: 0px;
    padding-left: 20px;
    padding-right: 2px;
  }

  .header-lower-bottom {
    padding: 0px;
    padding-left: 2px;
  }
  .grid-3 {
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 35px;
  }

  .grid-3 h1 {
    margin-left: 2px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .item-3 {
    font-size: 20px;
  }
}

.change-opacity {
  opacity: 0.6;
  font-size: 20px;
}

/* the actual submit button */
.submit-userform {
  background-color: black; /* Green */
  border: none;
  outline: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-userform:hover {
  background-color: black;
}

.submit-userform:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* for smartphone */

/* for tablet size */

/* For Desktop Screen */
@media (min-width: 625px) and (max-width: 1024px) {
  .header-h1 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #main {
    visibility: hidden;
    outline: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: red;
  }
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar {
  padding-bottom: 10px;
}

.openbtn:hover {
  background-color: transparent;
  outline: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 2px;
  outline: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-bottom: 20px;
  }
  .sidebar a {
    font-size: 18px;
  }
  #main {
    visibility: visible;
    outline: none;
  }
  .header-h1 {
    visibility: hidden;
  }
}

.column img {
  width: 40%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
